<!DOCTYPE html>
<!-- Navbar Component -->
<header class="site-header">
  <div class="header-container">
    <div class="logo">
      <h1><a href="#home" class="title">Rhyan.dev</a></h1>
    </div>
    <nav class="nav-menu">
      <ul class="nav-list">
        <li><a href="#home" class="nav-link">Início</a></li>
        <li><a href="#about-me" class="nav-link">Sobre</a></li>
        <li><a href="#skills" class="nav-link">Skills</a></li>
        <li><a href="#projects" class="nav-link">Projetos</a></li>
        <li><a href="#contact" class="nav-link">Contato</a></li>
        <li>
          <a href="https://www.linkedin.com/in/rhyan-lemos-silveira/" target="_blank" class="nav-link" aria-label="LinkedIn">
            <img src="img-home/contact/linkedin.png" alt="LinkedIn" style="width:20px;height:20px;vertical-align:middle;" />
          </a>
        </li>
      </ul>
    </nav>
    <div class="mobile-menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
